@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


:root{
  --color-primary : #8176AF;
  --color-secondary : #C0B7E8;
  --color-back : #302C42;
  --color-darker : #211E2E;
}

@theme{
  --color-primary : #8176AF;
  --color-secondary : #C0B7E8;
  --color-back : #302C42;
    --color-darker : #211E2E;

}
:root {
  font-family: Montserrat;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: var(--color-back);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
    transition: all .1s ease-in-out;

}
a:hover {
  color: var(--color-primary);
}

body {
  margin: 0;
  font-size: 16px !important;
  font-family: Montserrat !important;
}

h1 {
  font-size: 2.5em;
  line-height: 1.9;
}
h2 {
  font-size: 1.8em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  padding: 1em 2em;
  cursor: pointer;
  transition: all .1s ease-in-out;
  font-size: 13px;
  font-weight: bold;
}
button:hover {
  opacity: .7;
}
/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

div#ContactUs >div:not(:last-child) {
    border-right: 1px solid rgba(255, 255, 255, 0.44);
}

.arow:hover {
    margin-left: 15px;
    cursor: pointer;
}
.arow{
    transition : .2s ease all
}

.cart{
  background: radial-gradient(#433D60 ,var(--color-darker)  );
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;
  border-radius: 40px;
  gap: 20px;
}
#form{
    background: radial-gradient(#433D60 ,var(--color-darker)  );
    border-radius: 50px;
}
.break {
    margin: 0 !important;
    padding: 0 !important;
    height: 1px !important;
    background-color: rgba(255, 255, 255, 0.195) !important;
    width: 80% !important;
}
#fifth-sec{
  background-image: url(./assets/img/Landing6.jpg);
    background-size:     cover;             
    background-repeat:   no-repeat;
    background-position: center;
    min-height: 250px !important;
    border-radius: 1000px;
        overflow: hidden !important;

  }
  #fifth-sec >div{
    background-color: #433d60a0;
    height: 250px !important;
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center !important;
  }

  input,textarea{
    border: 2px solid white;
    padding: 15px 30px;
    border-radius: 50px;
    transition: .1s all ease-in-out ;
    width: 100%;
    margin: 15px 0;
    font-size: 13px;
  }
  input:focus,  input:focus-visible,
  textarea:focus,  textarea:focus-visible{
    border: none!important;
    background-color: var(--color-primary) !important;
    outline: none !important;
  }
@media screen and (max-width: 480px) {
h1{
  font-size: 1.75em !important;
}
h2{
    font-size: 1em !important;

}
body {
  font-size: 14px !important;
}
}